<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891586164230-aj6bgmaga81i4mrpf96r9ueros08fi1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891586164230-aj6bgmaga81i4mrpf96r9ueros08fi1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891586164230-pvg461rt57tg1f0mootdm5gjqb3tkp2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8yz6h78hmr6N57Qgss7hOZBiFDRWHWac</string>
	<key>GCM_SENDER_ID</key>
	<string>891586164230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbestech.chatty</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-audio-chat-d15db</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-audio-chat-d15db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891586164230:ios:33b4a6fc75e3c80ccdf587</string>
</dict>
</plist>